<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body{
            background:#0b1a35;
            color:white;
            font-family:Arial;
            text-align:center;
            padding-top:100px;
        }
        h1{
            font-size:40px;
        }
        p{
            color:#ccc;
        }
        a{
            color:#4da3ff;
            text-decoration:none;
        }
    </style>
</head>

<body>

<h1>Something went wrong</h1>

<p>{{ message }}</p>

<br>

<a href="/">Go back to home</a>

</body>
</html>